name: Build and Release
on:
  push:
    paths-ignore:
      - 'packages/docs/**'
      - 'README.md'

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  id-token: write
  contents: write
  pull-requests: write

env:
  NPM_CONFIG_PROVENANCE: true

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'
      - run: pnpm i
      - name: Lint
        run: pnpm -r run lint

      - name: Test
        run: pnpm -r test
      - name: Upload code coverage
        uses: paambaati/codeclimate-action@b74bb25d2074a4bc16bd06fffc1b299c07b1f886 # v6.0.0
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
        with:
          coverageLocations: ${{github.workspace}}/packages/core/coverage/lcov.info:lcov
          prefix: test
      - name: Build
        run: pnpm -r run build
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        if: github.ref_name == 'main'
        uses: changesets/action@v1
        with:
          version: pnpm run ci:version # pnpm changeset version && pnpm install --lockfile-only
          publish: pnpm run ci:publish
          commit: 'chore: update versions'
          title: 'Release: new versions'
          createGithubReleases: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
