name: Snapshot Release

on:
  pull_request:
    types: [labeled]
concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  id-token: write
  contents: read
  pull-requests: write
  issues: write

env:
  NPM_CONFIG_PROVENANCE: true

jobs:
  release:
    if: |
      (github.event.label.name == 'release: snapshot')
    name: Snapshot Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'
      - name: Unlabel PR
        run: |
          gh pr edit $GITHUB_HEAD_REF --remove-label='release: snapshot'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: pnpm i
      - run: pnpm -r test
      - run: pnpm -r run build

      - name: Prepare snapshot releases
        run: |
          pnpm changeset version --snapshot
          pnpm install --lockfile-only

      - name: Publish snapshot releases
        run: pnpm -r publish --tag=next --no-git-checks
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Create or update the snapshot release PR
        run: |
          VERSIONS=$(pnpm -r ls --json --depth=-1 | jq -r 'map(select(.version // "" | contains ("0.0.0-"))) | .[] | (.name + "@" + .version)')

          echo "Changesets published the following snapshots:" >> msg_body
          echo "\`\`\`" >> msg_body
          echo "$VERSIONS" >> msg_body
          echo "\`\`\`" >> msg_body

          echo "--------"
          cat msg_body
          echo "--------"

          gh pr comment $BRANCH_NAME --body-file msg_body
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: ${{ github.head_ref }}
